<template>
    <div class="profile-page">
        <section class="section-profile-cover section-shaped my-0">
            <div class="shape shape-style-1 shape-primary alpha-4 position-absolute">
                <div class="container" style="background: none;">
                    <img v-lazy="'img/theme/background.svg'" alt="" style="background: none;margin-top: 130px;">
                </div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>
        <section class="section section-skew">
            <div class="container">
                <card shadow class="card-profile " no-body>
                    <div class="px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                        <img v-lazy="'img/theme/Muaath.jpeg'" style="border-radius: 10%;">
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                                <div class="card-profile-actions mt-lg-0" style="margin-top: 200px;">
                                    <base-button type="info" size="sm" class="mr-4">Connect</base-button>
                                    <base-button type="default" size="sm" class="float-right">Message</base-button>
                                </div>
                            </div>
                            <div class="col-lg-4 order-lg-1">
                                <div class="card-profile-stats d-flex justify-content-center">
                                    <div>
                                        <span class="heading">3</span>
                                        <span class="description">Projects</span>
                                    </div>
                                    <div>
                                        <span class="heading">0.6</span>
                                        <span class="description">Experience</span>
                                    </div>
                                    <div>
                                        <span class="heading">25</span>
                                        <span class="description">Age</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" :style="{'margin-top': isMobile ? '0px' : '100px'}" style="font-family: eurostile;">
                            <h3>Muaadh Esmail Qaid Almrham
                            </h3>
                            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Full stack developer (Laravel & Vuejs)</div>
                            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Kuala Lumpur, Malaysia</div>
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <p class="text-justify">
                                        Passionate, self-learning, and adaptable. I have a great interest in 
                                        full-stack web development. This passion motivated me to work as 
                                        a full stack intern for 6 months. This helped me gain valuable skills 
                                        required for building systems. Currently, I am actively seeking a job 
                                        opportunity in web development to leverage my diverse skills and experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
        </section>
        
        <section class="section">
            <div class="container">
                <projects></projects>
            </div>
        </section>
    </div>
</template>
<script>
import projects from './projects.vue';
export default {
    props: ["isMobile"],
    components: {
        projects
    },
    computed: {
        isMobile() {
            if(screen.width <= 760) 
                return true;
            else
                return false;
        }
    }
};
</script>
<style scoped>
 @font-face {
  font-family: eurostile;
  src: url(/public/eurostile.ttf);
  } 
  .section-profile-cover {
    height: 680px;
  }
</style>
