<template>
	<div>

		<h1 class="text-center">PROJECTS</h1>
		
		<!-- First Row -->
		<div class="row mt-5">

                <!-- OMD SYSTEM -->
                <div class="col-md-6 mb-5 mb-lg-0">
                    <div class="card card-lift--hover shadow border-1" style="border-radius: 10px;">
                        <router-link to="/landing" >
                        	<b-carousel
							    id="carousel-fade"
							    style="color: red;"
							    fade
							    indicators
							    controls
							    img-width="1200"
							    img-height="700"
							  >
							    <b-carousel-slide
							      img-src="img/projects-screenshots/omd-systems/invoice-create.png"
							    ></b-carousel-slide>
							    <b-carousel-slide
							      img-src="img/projects-screenshots/omd-systems/invoice-show.png"
							    ></b-carousel-slide>
							    <b-carousel-slide
							      img-src="img/projects-screenshots/omd-systems/user-index.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/omd-systems/user-edit.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/omd-systems/prototype.png"
							    ></b-carousel-slide>
							  </b-carousel>
                        </router-link>
                    </div>
                    <card class="border-0  mt-1 p-0 project-card" shadow>
	                    <div class="m-auto">
		                    <icon name="ni ni-money-coins" type="primary" rounded class="m-2" >
		                    </icon>
		                    <h5 class="text-primary d-inline-block text-uppercase">OMD SYSTEM </h5> <h6 class="text-primary d-inline-block">  – Invoicing & accounting Services </h6>
	                    </div>
	                    <div class="pl-5">
	                        <badge type="primary" rounded>Laravel</badge>
	                        <badge type="danger" rounded>Vuejs</badge>
	                        <badge type="info" rounded>Bootstrap</badge>
	                        <badge type="primary" rounded>MySQL</badge>
	                        <badge type="success" rounded> Bootstrap-Vue </badge>
	                    </div>
	                    <p class="description mt-1 text-justify">This provides financial services for small businesses which automates the communication process between Service Provider and client such as issuing Quotation, Invoices, track payments, and send reminders.</p>
	                    <div class="d-block">
		                    <button class="btn btn-success" disabled>
		                    	Demo
		                    </button>
		                    <base-button  tag="a" href="https://gitlab.com/Muaadh_almrham/omd-system" type="primary" disabled >
		                        Source Code
		                    </base-button>
	                    </div>
	                    <div class="row mt-2">
		                    <small class="col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Last Update:</strong>  17 Jun 2020</small>
		                    <small class=" col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Completion States:</strong>  50%</small>
	                    </div>
                	</card>
                </div>


                <!-- Arabic Learning System -->
                <div class="col-md-6 mb-5 mb-lg-0">
                    <div class="card card-lift--hover shadow border-1" style="border-radius: 10px;">
                        <router-link to="/landing" title="Arabic Learning System">
                        	<b-carousel
							    id="carousel-fade"
							    style="color: white;"
							    fade
							    indicators
							    controls
							    img-width="1200"
							    img-height="700"
							  >
							  	<b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/tutor-index.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/tutor-profile.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/admin-student-index.png"
							    ></b-carousel-slide>
							    <b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/discussion-room.png"
							    ></b-carousel-slide>
							    <b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/materials.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/payment-details.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/arabic-learning-system/payment-page.png"
							    ></b-carousel-slide>
							  </b-carousel>
                        </router-link>
                    </div>
	                <card class="border-0  mt-1 p-0 project-card" shadow>
	                    <div class="m-auto">
		                    <icon name="ni ni-book-bookmark" type="primary" rounded class="m-2" >
		                    </icon>
		                    <h5 class="text-primary d-inline-block text-uppercase">Arabic Learning System</h5>
	                    </div>
	                    <div class="pl-5">
	                        <badge type="primary" rounded>Laravel</badge>
	                        <badge type="danger" rounded>Vuejs</badge>
	                        <badge type="info" rounded>Bootstrap</badge>
	                    </div>
	                    <p class="description mt-1 text-justify">
							The system meant to facilitate the work of media producers collaborating
							 within their team members to write media scripts and organize the production phase.
						</p>
	                    <button class="btn btn-success" disabled>
	                    	Demo
	                    </button>
	                    <base-button  tag="a"  type="primary"
							href="https://gitlab.com/Muaadh_almrham/arabic-learning-platform "> 
	                        Source Code
	                    </base-button>
						<div class="row mt-2">
		                    <small class="col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Last Update:</strong>  10 Feb 2020</small>
		                    <small class=" col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Completion States:</strong>  70%</small>
	                    </div>
	            	</card>
                </div>
        </div>

		<!-- Second row -->
		<div class="row mt-5">

                <!-- Scripty -->
                <div class="col-md-6 mb-5 mb-lg-0">
                    <div class="card card-lift--hover shadow border-1" style="border-radius: 10px;">
                        <router-link to="/landing" >
                        	<b-carousel
							    id="carousel-fade"
							    style="color: red;"
							    fade
							    indicators
							    controls
							    img-width="1200"
							    img-height="700"
							  >
							    <b-carousel-slide
							      img-src="img/projects-screenshots/scripty/login.png"
							    ></b-carousel-slide>
							    <b-carousel-slide
							      img-src="img/projects-screenshots/scripty/project-index.png"
							    ></b-carousel-slide>
							    <b-carousel-slide
							      img-src="img/projects-screenshots/scripty/project-show.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/scripty/scenes-index.png"
							    ></b-carousel-slide>
							  </b-carousel>
                        </router-link>
                    </div>
                    <card class="border-0  mt-1 p-0 project-card" shadow>
	                    <div class="m-auto">
		                    <icon name="ni ni-money-coins" type="primary" rounded class="m-2" >
		                    </icon>
		                    <h5 class="text-primary d-inline-block text-uppercase">Scripty </h5> <h6 class="text-primary d-inline-block">  – Professional Media Platform for Writing Scripts </h6>
	                    </div>
	                    <div class="pl-5">
	                        <badge type="primary" rounded>Laravel</badge>
	                        <badge type="danger" rounded>Vuejs</badge>
	                        <badge type="info" rounded>Bootstrap</badge>
	                        <badge type="primary" rounded>MySQL</badge>
	                        <badge type="success" rounded> Bootstrap-Vue </badge>
	                    </div>
	                    <p class="description mt-1 text-justify">
							The system meant to facilitate the work of media producers 
							collaborating within their team members to write media 
							and organize the production phase.
						</p>
	                    <div class="d-block">
		                    <button class="btn btn-success" disabled>
		                    	Demo
		                    </button>
		                    <base-button  tag="a" href="https://gitlab.com/Muaadh_almrham/scripty" type="primary" disabled >
		                        Source Code
		                    </base-button>
	                    </div>
	                    <div class="row mt-2">
		                    <small class="col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Last Update:</strong>  9 Jan 2020</small>
		                    <small class=" col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Completion States:</strong>  5%</small>
	                    </div>
                	</card>
                </div>


                <!-- Book Donation System -->
                <div class="col-md-6 mb-5 mb-lg-0">
                    <div class="card card-lift--hover shadow border-1" style="border-radius: 10px;">
                        <router-link to="/landing" title="Book Donation System">
                        	<b-carousel
							    id="carousel-fade"
							    style="color: white;"
							    fade
							    indicators
							    controls
							    img-width="1200"
							    img-height="700"
							  >
							  	<b-carousel-slide
							      img-src="img/projects-screenshots/book-donation/book-create.png"
							    ></b-carousel-slide>
								<b-carousel-slide
							      img-src="img/projects-screenshots/book-donation/login.png"
							    ></b-carousel-slide>
							  </b-carousel>
                        </router-link>
                    </div>
	                <card class="border-0  mt-1 p-0 project-card" shadow>
	                    <div class="m-auto">
		                    <icon name="ni ni-book-bookmark" type="primary" rounded class="m-2" >
		                    </icon>
		                    <h5 class="text-primary d-inline-block text-uppercase">Book Donation System</h5>
	                    </div>
	                    <div class="pl-5">
	                        <badge type="primary" rounded>React-Native</badge>
	                    </div>
	                    <p class="description mt-1 text-justify">
							This system helps to make use of the Neglected books 
							to deliver them to the interested readers. 
							The system will view a plenty of different 
							books along with their owners' details. 
							On the other hand, the readers will have a chances to
							either donate or borrow a book from the system. 
						</p>
	                    <button class="btn btn-success" disabled>
	                    	Demo
	                    </button>
	                    <base-button  tag="a"  type="primary"
							href="https://github.com/MuaathAlhaddad/MobileAppProject"> 
	                        Source Code
	                    </base-button>
						<div class="row mt-2">
		                    <small class="col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Last Update:</strong>  28 Dec 2018</small>
		                    <small class=" col-md-6 text-muted d-inline-block mt-2 mb-0"> <strong>Completion States:</strong>  20%</small>
	                    </div>
	            	</card>
                </div>
        </div>
		
        
	</div>
</template>
<script>
</script>
<style>
    .carousel-item img {
        height:30vh !important;
    }
	.carousel-control-prev, .carousel-control-next{
		width: 10% !important;
	}
	.carousel-control-next:hover{
		width: 10%;
		background: white;
	}
	.carousel-control-prev:hover{
		width: 10%;
		background: white;
	}
	.carousel-control-prev-icon {
		background-image: url(https://image.flaticon.com/icons/svg/130/130882.svg) !important;
	}
	.carousel-control-next-icon {
		background-image: url(https://image.flaticon.com/icons/svg/130/130884.svg) !important;
	}
</style>