<template>
    <footer class="footer has-cards">
        <div class="container container-lg">
            
        </div>
        <div class="container">
            <div class="row row-grid align-items-center my-md">
                <div class="col-lg-6">
                    <h3 class="text-primary font-weight-light mb-2">Thank you for your kind Visit!</h3>
                    <h4 class="mb-0 font-weight-light">Let's get in touch</h4>
                </div>
                <div class="col-lg-6 d-flex justify-content-around text-lg-center btn-wrapper ">
                    <a target="_blank" rel="noopener" href="https://twitter.com/mua2000ath"
                       class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip"
                       data-original-title="Follow us">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="https://www.facebook.com/MuaathAlhaddad"
                       class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip"
                       data-original-title="Like us">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/muaadh-almrham-091940b7"
                       class="btn btn-neutral btn-icon-only btn-linkedin btn-round btn-lg" data-toggle="tooltip"
                       data-original-title="Star on Github">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="https://github.com/MuaathAlhaddad"
                       class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" data-toggle="tooltip"
                       data-original-title="Star on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a target="_blank" rel="noopener" href="https://gitlab.com/Muaadh_almrham"
                       class="btn btn-neutral btn-icon-only btn-round btn-lg" data-toggle="tooltip"
                       data-original-title="Star on Gitlab">
                        <i class="fa fa-gitlab"></i>
                    </a>
                    
                </div>
            </div>
            <hr>
            <div class="copyright text-center">
                    Developed with <i class="ni ni-favourite-28"></i>  
                    &copy; {{year}}
            </div>
        </div>
    </footer>
</template>
<script>
export default {
  name: 'app-footer',
  data() {
    return {
      year: new Date().getFullYear()
    }
  }
};
</script>
<style>
</style>
